altgraph==0.10.2
antiorm==1.2.1
bdist-mpkg==0.5.0
beautifulsoup4==4.5.3

bs4==0.0.1
chardet==2.3.0
click==6.7
Cython==0.25.2
da==0.1
db==0.1.1
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.7
django-toolbelt==0.0.1
freeze-requirements==0.5.1
future==0.16.0
gunicorn==19.7.1
itsdangerous==0.24


qrcode==5.3
requests==2.13.0
requests-oauthlib==0.8.0

static3==0.7.0
tesseract==0.1.3
utils==0.9.0
whitenoise==2.0.6
zbar==0.10
zbarlight==1.2
zope.interface==4.1.1
