{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/styles.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
    <title>收款码合成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
</head>
<body>
    <div class="container">
            <label class="container-header">收款码合成</label>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-section">

                    <div class="input">
                        <label class="input-label">支付宝</label>
                        <input type="file" name="ali-img" class="myUpload">
                    </div>

                    <div class="input">
                        <label class="input-label">微信</label>
                        <input type="file" name="wx-img" class="myUpload">
                    </div>

                    <div class="input">
                        <label class="input-label">LOGO</label>
                        <input type="file" name="logo" class="myUpload">
                    </div>
            </div>
            <div class="submit-section">
                <button type="submit">立即合成</button>
            </div>
        </form>
    </div>
    <div class="footer">
        <img src="../../static/zeyicheng.jpg" class="logo-img">
    </div>

</body>
</html>
