<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <label>niub你好水99999999阿哥</label>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="ali-img">
        <input type="file" name="wx-img">
        <button type="submit">上传</button>
    </form>
    <label>支付宝</label>
    {% if alipay != None %}
        <img src="{{ alipay.img.url }}" width="100px" height="100px">
    {% endif %}

    <label>微信</label>
    {% if wechat != None %}
        <img src="{{ wechat.img.url }}" width="100px" height="100px">
    {% endif %}

</body>
</html>