{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/styles.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
    <title>收款</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
</head>
<body>
    <div class="qr-container">
        {% if url %}
            <img src="{{ url }}" height="300" width="300">
        {% endif %}
        <label class="info">{{ info }}</label>
    </div>
    <div class="footer">
        <img src="../../static/zeyicheng.jpg" class="logo-img">
    </div>
</body>
</html>