
.myUpload {
    background-color: antiquewhite;
    /*position: absolute;*/
    display: block;
    width: 100px;
    height: 40px;
    margin-bottom: 30px;
}
.myFileUpload {
    /*position: absolute;*/
    display: block;
    width: 100px;
    height: 40px;
    opacity: 0;
    background-color: #00b3ee;
}
