
/*body {*/
    /*background-color: #888888;*/
/*}*/

/*input {*/
    /*position: absolute;*/
    /*font-size: 100px;*/
    /*right: 0;*/
    /*top: 0;*/
    /*opacity: 0;*/
    /*filter: alpha(opacity=0);*/
    /*cursor: pointer*/
/*}*/

div {
    display: flex;
    justify-content: center;
}
